.header-wrapper {
  height: 150px;
  background: white;
  z-index: 1;
  position: relative;
}

.header-wrapper .main-logo {
  margin-top: 15px;
}

* {
  font-family: 'Helvetica Neue LT Std', sans-serif;
}

header {
  height: 100vh;
}

header .scroll-more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  text-align: center;
}

.menu-col {
  padding-left: 0;
  padding-right: 0;
}

.header-container {
  position: relative;
}

.header-container .small-top-logo {
  position: absolute;
  top: 0;
  right: 32PX;
}

#menu-top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-top: 90px;
  padding-left: 0;
}

#menu-top-menu li {
  list-style-type: none;
  display: inline-block;
}

#menu-top-menu li a {
  font-weight: bold;
  text-transform: uppercase;
  color: #3585b7;
  text-decoration: none;
  cursor: pointer;
}

#menu-top-menu li a:hover {
  color: #3fa6e6;
}

.video-section {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.video-section .row {
  margin-left: 0;
  margin-right: 0;
}

.video-section .row div[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.hero-background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-background .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.hero-background .fullscreen-bg .fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.event-title-year-wrapper {
  position: relative;
  height: 100%;
}

.event-title {
  position: absolute;
  right: 0%;
  top: 23%;
  width: 350px;
  height: 350px;
  background: rgba(22, 137, 189, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.event-title h1 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 33px;
  border-bottom: 2px dotted white;
  padding-bottom: 9px;
}

.event-title h1 img {
  width: 35px;
  vertical-align: baseline;
  margin-right: 4px;
}

.event-title h1 .first-word {
  font-size: 50px;
}

.event-title h3 {
  color: white;
}

.event-year {
  position: absolute;
  right: 0%;
  top: 18%;
  background: rgba(214, 211, 12, 0.8);
  font-size: 55px;
  font-weight: bold;
  color: white;
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.event-date {
  position: absolute;
  bottom: -22%;
  left: -4%;
  color: white;
  width: 900px;
  height: 900px;
  background: rgba(97, 27, 175, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.event-date p {
  font-size: 40px;
  font-weight: bold;
}

.event-date p span {
  font-weight: normal !important;
}

section {
  padding: 40px 0px;
}

section h2 {
  font-weight: 100;
  font-size: 50px;
  color: #00355f;
  text-transform: uppercase;
}

section p {
  font-size: 18px;
}

.about-section {
  background: white;
  position: relative;
}

.about-section h2 {
  text-align: center;
}

.about-section p {
  text-align: center;
}

.whatwedo-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 150px 0px;
}

.whatwedo-wrapper {
  background: rgba(225, 225, 225, 0.8);
  padding: 40px 0px;
}

.whatwedo-wrapper img {
  position: absolute;
  top: -143px;
}

.whatwedo-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #00244a;
  padding: 40px 0px;
}

footer * {
  color: white;
}

footer img {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

footer .address-wrapper {
  display: inline-block;
}

footer .address-wrapper p {
  line-height: 22px;
}

footer .copyright-wrapper {
  margin-top: 50px;
}

footer .social-icons .fab {
  margin-left: 2px;
  margin-right: 2px;
}

.mobile-menu {
  display: none;
}

.mobile-toggler {
  display: none;
}

@media (max-width: 991px) {
  .whatwedo-wrapper img {
    position: static;
    margin: 0 auto;
    display: block;
  }
  .small-top-logo {
    display: none;
  }
  .header-wrapper {
    height: 105px;
  }
  .header-wrapper img {
    max-width: 60px;
  }
  #menu-top-menu {
    display: none;
  }
  .mobile-menu {
    width: 100%;
    display: block;
    position: absolute;
    right: 0;
    border-top: 5px solid blue;
    left: -999px;
    -webkit-transition: 0.5s 0.1s;
    transition: 0.5s 0.1s;
    top: 100px;
  }
  .mobile-menu #menu-top-menu-1 {
    list-style-type: none;
    background: white;
    margin-left: 60%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .mobile-menu #menu-top-menu-1 li {
    margin-bottom: 20px;
    border-bottom: 2px dotted blue;
    padding-bottom: 20px;
  }
  .mobile-toggler {
    display: block;
    position: absolute;
    top: 4%;
    right: 15%;
    cursor: pointer;
    z-index: 1;
  }
  .mobile-toggler .fas {
    font-size: 40px;
  }
  .show-mobile-menu {
    left: 0;
  }
}

@media (max-width: 991px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-logo {
    padding-bottom: 15px;
  }
  .event-title {
    position: static;
    border-radius: 0;
    width: 100%;
    height: 50%;
  }
  .event-year {
    position: static;
    border-radius: 0;
    width: 100%;
    height: 50%;
  }
  .event-date {
    position: static;
    border-radius: 0;
    padding-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    height: 50% !important;
  }
  .scroll-more {
    display: none;
  }
  footer .text-right {
    text-align: center !important;
  }
  footer .social-icons {
    padding-bottom: 40px;
  }
  footer .footer-section-one {
    text-align: center;
  }
  .event-title-year-wrapper {
    max-width: 100%;
    padding: 0;
    margin: 0;
    height: 50%;
  }
}

@media (max-width: 768px) {
  #menu-top-menu-1 {
    margin-left: 0 !important;
    height: 100vh;
  }
}

@media (max-width: 1200px) {
  .whatwedo-wrapper img {
    top: -75px;
  }
}

@media (min-width: 1921px) {
  .event-title {
    width: 500px;
    height: 500px;
  }
  .event-title h1 {
    font-size: 60px;
    line-height: 55px;
  }
  .event-title h1 img {
    width: 50px;
  }
  .event-title h1 .first-word {
    font-size: 80px;
  }
  .event-year {
    right: 0%;
    top: 12%;
    font-size: 90px;
    width: 300px;
    height: 300px;
  }
  .event-date {
    width: 900px;
    height: 900px;
  }
  .event-date p {
    font-size: 40px;
  }
}

@media (max-width: 1600px) {
  .event-date {
    width: 600px;
    height: 600px;
    bottom: -20%;
  }
}
/*# sourceMappingURL=main.css.map */